---
title: Code
layout: page
---
{% assign repos = site.github.public_repositories | sort: 'pushed_at' %}
<div class="sub-header">
  <p>
    <a href="https://github.com/LeoColomb?tab=repositories">{{ repos | size }} repositories</a>
  </p>
</div>
{% for repo in repos reversed %}
<div class="repo">
  {% if repo.language %}
  <div class="{{ repo.language | slugify }}">
  {% else %}
  <div class="unknow">
  {% endif %}
    <h5>{{ repo.name }}</h5>
    <p>{{ repo.description }}</p>
    <a href="{{ repo.html_url }}">GitHub</a>
    {% if repo.homepage == "" %}{% elsif repo.homepage %}
    <a href="{{ repo.homepage }}">Website</a>
    {% endif %}
    <small>{{ repo.language }}</small>
  </div>
</div>
{% endfor %}
