---
title: Code
layout: page
---
{% assign repos = site.github.public_repositories | sort: 'pushed_at' %}
{% for repo in repos reversed %}
{% if repo.language %}
<div class="repo {{ repo.language | slugify }}">
{% else %}
<div class="repo unknow">
{% endif %}
  <h5>{{ repo.name }}</h5>
  <p>{{ repo.description }}</p>
  <a href="{{ repo.html_url }}">GitHub</a>
  {% if repo.homepage == "" %}{% elsif repo.homepage %}
  <a href="{{ repo.homepage }}">Website</a>
  {% endif %}
  <small class="right">{{ repo.language }}</small>
</div>
{% endfor %}
<a href="https://github.com/LeoColomb?tab=repositories">{{ repos | size }} repositories</a>
