---
title: Open Source
layout: page
icons:
  - mark-github
  - globe
  - repo-forked
  - repo
---
{% assign repos = site.github.public_repositories | sort: 'pushed_at' %}
<div class="small-12 columns">
  <p class="text-center">
    L'ensemble des <a href="https://github.com/LeoColomb">{{ repos | size }} dépots</a>
    est visible sur GitHub.
  </p>
</div>
{% for repo in repos reversed %}
<div class="repo">
  {% if repo.language %}
  <div class="{{ repo.language | slugify }}">
  {% else %}
  <div class="unknow">
  {% endif %}
    <div class="repo-type">
      {% if repo.fork %}
      {% include icon.html icon="repo-forked" %}
      {% else %}
      {% include icon.html icon="repo" %}
      {% endif %}
    </div>
    <h4>{{ repo.name }}</h4>
    <p>{{ repo.description | truncatewords: 9 }}</p>
    <small>{{ repo.language }}</small>
    <div class="repo-links">
      <a href="{{ repo.html_url }}">{% include icon.html icon="mark-github" %}</a>
      {% if repo.homepage == "" %}{% elsif repo.homepage %}
      <a href="{{ repo.homepage }}">{% include icon.html icon="globe" %}</a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
