//
// ICONS
//

.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.CircleBadge svg {
  width: 60% !important;
  height: auto !important;
  max-height: 55% !important;
  fill: #ffffff;
}
