<aside>
  <div class="media">
    <a class="media-left" href="{{ site.author.uri }}">
      <img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ site.author.name }}</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
  <ul>
    {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
    {% endif %}
    {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time>{{ post.date | date_to_string }}</time>
    </li>
    {% endfor %}
  </ul>
</aside>
