<header role="banner">
  <nav role="navigation">
      <ul class="breadcrumbs">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="{{ site.url }}" itemprop="url" role="button">
            <h1 itemprop="title">{{ site.name }}</h1>
          </a>
        </li>
        {% if page.category %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="{{ site.url }}/{{ page.category }}/" itemprop="url">
            <span itemprop="title">{{ page.category | capitalize }}</span>
          </a>
        </li>
        {% endif %}
        {% if page.title | slugify != page.category %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="{{ site.url }}{{ page.url }}" itemprop="url">
            <span itemprop="title">{{ page.title }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>
</header>
{% if page.description %}
<div class="sub-header large">
  <h2>{{ page.title }}</h2>
  <h3 class="subheader">{{ page.description }}</h3>
</div>
{% endif %}
