<nav role="navigation" style="display: none;">
  <ul class="menu">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ site.url }}" itemprop="url" role="button">
        <h1 itemprop="title">{{ site.title }}</h1>
      </a>
    </li>
    {% if page.category and page.category != "home" %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ site.url }}/{{ page.category }}/" itemprop="url">
        <span itemprop="title">{{ page.category | capitalize }}</span>
      </a>
    </li>
    {% endif %}
    {% unless page.category == page.title | slugify %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ site.url }}{{ page.url }}" itemprop="url">
        <span itemprop="title">{{ page.title }}</span>
      </a>
    </li>
    {% endunless %}
  </ul>
</nav>
<header role="banner">
  {% if page.category == "home" %}
  <canvas id="world"></canvas>
  <img src="{{ site.assetsurl }}/img/cc-logo-home.svg" alt="{{ site.title }}">
  {% else %}
  <a href="{{ site.url }}" class="hexagon" title="{{ site.title }}"></a>
  <h2>{{ page.title }}{% if page.description %} <small>{{ page.description }}</small>{% endif %}</h2>
  {% endif %}
</header>
