<div class="search">
  <form action="/search" id="search-from" method="get">
    <input type="text" name="q" id="search-query" class="search-input" data-search="{{ include.ref }}" placeholder="How can we help?">
    <button><i class="icon icon-search"></i></button>
  </form>
  <ul class="collection">
    <li class="collection-item">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    </li>
  </ul>
</div>
