
//
// ASIDE
//

.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  color: $white;
  z-index: 99;

  a,
  a:hover,
  a:active,
  a:focus {
    color: $white;
  }

  header {
    margin: 50px;
    font-size: 3rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    margin-left: 50px;
  }
}

.smooth {
  .aside {
    @include animation(wipe $smooth);

    header,
    footer {
      @include animation(fadeIn $smooth);
    }
  }

  &.is-exiting .aside,
  &.is-exiting .aside header,
  &.is-exiting .aside footer {
    @include animation-direction(reverse);
  }
}


@-moz-keyframes wipe {
  0% {
    width: 100%;
  }

  100% {
    width: 25%;
  }
}

@-webkit-keyframes wipe {
  0% {
    width: 100%;
  }

  100% {
    width: 25%;
  }
}

@keyframes wipe {
  0% {
    width: 100%;
  }

  100% {
    width: 25%;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
