
//
// ASIDE
//

@each $category in $categories {
  $type: nth($category, 1);
  $color: nth($category, 2);

  .#{$type} {
    h2 {
      color: darken($color, ($amount / 4));
    }

    .aside {
      background: $color;

      footer,
      footer a {
        color: lighten($color, $amount);
      }
    }
  }
}
