
//
// HEADER
//

@each $category in $categories {
  $type: nth($category, 1);
  $color: nth($category, 2);

  .#{$type} {
    header, nav {
      background: $color;
    }
    
    main {
      h1, h2, a, strong {
        color: darken($color, ($amount / 4));
      }
    }

    footer {
      &, &.page-footer {
        background: darken($color, ($amount / 5));
      }
      
      a {
        color: lighten($color, ($amount / 1));
        
        &:active, &:hover, &:focus {
          color: lighten($color, ($amount / 3));
        }
      }
    }
  }
}
