
//
// CATEGORIES
//

// Colors
$amount: 40%;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Animation
$smooth: 250ms ease-in-out normal both;
