
//
// VARIABLES
//

// Colors
$amount: 40%;
$languages:
  ("unknow" "grey" "darken-4")
  ("css" "teal" "darken-3")
  ("c" "grey" "darken-3")
  ("javascript" "green" "darken-4")
  ("php" "deep-purple" "darken-3")
  ("python" "light-blue" "darken-4")
  ("shell" "blue-grey" "darken-3");

// Animation
$smooth: 250ms linear both;

// Heading
$header-height: 100px;
$header-width: 25%;
$navbar-height: $header-height;
$navbar-height-mobile: $header-height;
$marge-top: 20px;
