---
title: Blog
layout: page
category: blog
---

{% for post in paginator.posts %}
<div>
  <a href="{{ site.url }}{{ post.url }}">
    <h2>{{ post.title }}</h2>
  </a>
  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
  {{ post.excerpt }}
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav>
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true">&laquo;</span><span class="show-for-sr">Previous</span></a>
  {% else %}
  <button class="disabled"><span aria-hidden="true">&laquo;</span><span class="show-for-sr">Previous</span></button>
  {% endif %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="show-for-sr">Next</span><span aria-hidden="true">&raquo;</span></a>
  {% else %}
  <button class="disabled"><span class="show-for-sr">Next</span><span aria-hidden="true">&raquo;</span></button>
  {% endif %}
</nav>
{% endif %}
