
//
// VARIABLES
//

// TYPOGRAPHY
$font-path: "../fonts";
$font-face-code: "FiraCode";
//$font-faces: $font-face-body $font-face-code;

// UTILS
$smooth: 250ms linear both;
$amount: 80%;

// CATEGORIES
$categories-transition: 100ms ease-out
