
//
// LANGUAGES COLORS
//

@each $type, $colorName, $colorBase in $languages {
  $color: color($colorName, $colorBase);

  .#{$type}.card {
    background: $color;

    .card-action {
      a {
        color: lighten($color, $amount);

        &:hover, &:focus, &:active {
          color: lighten($color, ($amount / 2));
        }
      }

      span {
        color: lighten($color, ($amount / 4));
      }
    }
  }
}
