
//
// LANGUAGES COLORS
//

@each $type, $color in $languages {
  .repo .#{$type} {
    @include callout($color);

    a {
      color: lighten($color, ($amount / 2));

      &:hover, &:focus, &:active {
        color: $color;
      }
    }

    small {
      color: darken($color, $amount);
      float: right;
    }
  }
}
