
//
// SMOOTH
//

.smooth-loading {
  pointer-events: none;
}

.smooth {
  header nav,
  &.smooth-exiting .main-container {
    @include animation-direction(normal);
  }

  &.smooth-exiting header nav,
  &.smooth-entering .main-container {
    @include animation-direction(unquote("reverse !important"));
  }
}

@mixin smooth-keyframes($name, $prop, $init, $final) {
  @include keyframes($name) {
    from {
      #{$prop}: $init;
    }

    to {
      #{$prop}: $final;
    }
  }
}

@include smooth-keyframes("wipeV", "height", 100vh, $header-height);
@include smooth-keyframes("wipeH", "width", 100%, $header-width);
@include smooth-keyframes("fadeIn", "opacity", 0, 1);
@include keyframes("cerclize") {
  0% {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0 auto 0;
  }

  50% {
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    margin: -10vh auto 20vh;
  }

  100% {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10vh auto -80px;
  }
}
@include keyframes("exit") {
  0% {
    transform: translateY(0);
    height: 40vh;
    margin-bottom: 0;
    box-shadow: none;
  }

  10% {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  }

  100% {
    transform: translateY(-100vh);
    height: 200vh;
    margin-bottom: -160vh;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  }
}
