
//
// ABOUT PAGE
//

.about {
    background: map-get($categories-palette, "about");
}

.person {
  @include callout($white);
  color: $black;
  text-align: center;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  margin-bottom: 10em;
  max-width: 800px;

  .circle {
    border-radius: 50%;
    margin-top: -100px;
  }
}

.networks {
  width: 100%;
  @include flex-grid-row(null, 100%);

  .network {
    @include flex-grid-column();
    text-align: center;

    .icons {
      background: $black;
      border-radius: 50%;
      padding: 15px;
      width: 60px;
      height: 60px;
    }
  }
}
