
//
// ABOUT PAGE
//

.about {
  header nav {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10vh auto -80px;
    
    .head-logo {
      display: none;
    }
  }
  
  main {
    text-align: center;
    @extend .container;
  }
  
  footer {
    text-align: center;
  }
}
