
//
// BLOG PAGE
//

.blog {
  @include flex-grid-row(null, 100%);

  header {
    @include flex-grid-column(100%);

    @include breakpoint(medium) {
      @include flex-grid-column(4);
      height: initial;
      margin-bottom: 0;
      align-items: initial;
      justify-content: initial;

      h2 {
        padding-top: 18vh;
        padding-left: 6vh;
      }
    }

    @include breakpoint(xlarge) {
      @include flex-grid-column(3);
    }
  }

  main {
    @include flex-grid-column(80%);

    @include breakpoint(medium) {
      @include flex-grid-column(7);
    }

    @include breakpoint(large) {
      @include flex-grid-column(5);
    }

    @include breakpoint(xlarge) {
      @include flex-grid-column(4);
    }

    padding-top: 5em;
    padding-bottom: 5em;
  }

  footer {
    @include flex-grid-column(100%);
  }
}
