
//
// BOOKMARKS PAGE
//

.bookmarks {
  blockquote {
    padding: $blockquote-padding;
  }
}

.bookmark {
  @include flex-grid-column(80%);
  @include breakpoint(medium) {
    @include flex-grid-column(60%);
  }
  margin-top: 2em;
  margin-bottom: 2em;

  img {
    max-height: 80px;
  }
}

.font-name {
  margin-top: 2.2em;
  margin-bottom: 0;
  color: $cite-color;
  font-size: $breadcrumbs-item-font-size;
  text-transform: uppercase;
}
