
//
// CATEGORIES COLORS
//

@each $type, $color in $categories-palette {
  .#{$type} {
    .hexagon, header {
      background: $color;
    }

    h2 {
      color: smart-scale($color, $amount);

      small {
        color: smart-scale($color, ($amount / 2));
      }
    }

    h1, h3, a {
      color: smart-scale($color, ($amount / 4));
    }

    blockquote {
      border-color: smart-scale($color, ($amount / 4));
    }

    &.category {
      background: $color;

      p {
        color: smart-scale($color, ($amount / 2));
      }

      h2 {
        color: smart-scale($color, ($amount / 3));
      }

      &:hover, &:active, &:focus {
        p, h2 {
          color: smart-scale($color, $amount);
        }
      }
    }
  }
}
