
//
// CATEGORIES COLORS
//

// @function cat-color($category) {
//   @if map-has-key($categories, $category) {
//     @return map-get($categories, $category);
//   }
//   @warn "Unknown `#{name}` in $colors.";
//   @return null;
// }

footer, header, .sub-header {
  padding-top: 100px;
  padding-bottom: 100px;
}

@each $type, $color, $anim in $categories {
  .#{$type} {
    header, header ul {
      background: $color;
    }

    .sub-header {
      @include callout($color);
      border: none;
      text-align: center;
    }

    &.category {
      background: $color;

      h2, strong {
        color: darken($color, ($amount / 3));
      }

      &:hover, &:active, &:focus {
        h2, strong {
          color: darken($color, $amount);
        }
      }
    }

    main, {
      h1, h2, a, strong {
        color: darken($color, ($amount / 4));
      }

      a {
        &:active, &:hover, &:focus {
          color: darken($color, ($amount / 3));
        }

        //&:visited {
          //color: darken($color, ($amount / 1));
        //}
      }

      blockquote {
        border-left-color: darken($color, ($amount / 4));
      }
    }

    footer {
      background: darken($color, ($amount / 5));

      a {
        color: lighten($color, ($amount / 1));

        &:active, &:hover, &:focus {
          color: lighten($color, ($amount / 3));
        }

        &:visited {
          color: $color;
        }
      }
    }
  }
}
