
//
// CODE PAGE
//

.code {
  nav, .footer-copyright {
    @include flex-grid-row();
    justify-content: center;
  }

  main {
    @include flex-grid-row();
  }
}

.sub-header {
  @include flex-grid-column(12);
  background: #aaa;
  justify-content: center;
}

.repo {
  @include flex-grid-column(3);
}
