
//
// HOME PAGE
//

.home {
  header nav {
    height: 100vh;
  }

  .category {
    display: flex;
    
    div {
      @include flex-grid-row();
    }

    &:hover, &:active, &:focus {
      z-index: 500;
      will-change: transform, height, box-shadow;
    }

    &.smooth-exit {
      z-index: 600;
    }
  }

  footer {
    text-align: center;
  }
}
