//
// CIRCLE COMPONENT
//

.circle {
  position: fixed;
  z-index: 999;
  background-color: $white;
  border-radius: 50%;
  transition: transform 100ms ease-out;

  top: 2em;
  left: 2em;
  width: 3em;
  height: 3em;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.5);
  }
}
