<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" lang="fr" content="leo colombaro, colombaro, leocolomb, leo, léo, developpeur, graphisme, leocolombaro, technologie, clmb, numerique, informatique, computer, digital, creation, creations, code, open-souce, php, art, html, css, html5 css3, graphiste, decouverte, recherche, developpement" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- TODO: A ENLEVER - TO BE DELETED -->
  {% if page.style %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  {% endif %}
  <link rel="stylesheet" href="{{ site.assetsurl }}/css/{% if page.style %}{{ page.style }}{% else %}style{% endif %}.css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml" />
  <link rel="author" type="text/plain" href="/humans.txt" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" href="{{ site.assetsurl }}/icon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.assetsurl }}/icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.assetsurl }}/icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.assetsurl }}/icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.assetsurl }}/icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.assetsurl }}/icon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.assetsurl }}/icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.assetsurl }}/icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.assetsurl }}/icon/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.assetsurl }}/icon/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="{{ site.assetsurl }}/icon/favicon-192x192.png" sizes="192x192" />
  <link rel="icon" type="image/png" href="{{ site.assetsurl }}/icon/favicon-160x160.png" sizes="160x160" />
  <link rel="icon" type="image/png" href="{{ site.assetsurl }}/icon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.assetsurl }}/icon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.assetsurl }}/icon/favicon-32x32.png" sizes="32x32" />
  <meta name="theme-color" content="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
  <meta name="msapplication-TileColor" content="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}" />
  <meta name="msapplication-TileImage" content="{{ site.assetsurl }}/icon/mstile-144x144.png" />
  <meta name="msapplication-config" content="{{ site.assetsurl }}/icon/browserconfig.xml" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@LeoColomb" />
  <meta name="twitter:creator" content="@LeoColomb" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="{% if page.category %}article{% else %}website{% endif %}" />
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}" />
  {% endif %}
</head>
<body{% if page.category %} class="{{ page.category }}"{% endif %}>
  {{ content }}
  <!--<script src="{{ site.assetsurl }}/js/script.js"></script>-->
  {% include analytics.html %}
</body>
</html>
