---
layout: default
---
<ol class="breadcrumb">
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}" itemprop="url">
      <span itemprop="title">Home</span>
    </a>
  </li>
  {% if page.category %}
  {% if page.title != page.category %}
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.url }}/{{ page.category }}" itemprop="url">
      <span itemprop="title">{{ page.category | capitalize }}</span>
    </a>
  </li>
  {% endif %}
  {% endif %}
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ page.url }}" itemprop="url">
      <span itemprop="title">{{ page.title }}</span>
    </a>
  </li>
</ol>
<article class="page">
  <h1>{{ page.title }}</h1>
  {{ content }}
</article>
