---
layout: page
---
<div class="person-element">
  <div class="person" itemscope itemtype="http://data-vocabulary.org/Person">
    <img src="{{ page.image }}" alt="{{ page.name }}'s Avatar" class="circle" itemprop="photo" />
    <h2><span itemprop="name">{{ page.name }}</span><br /><small itemprop="nickname">({{ page.nickname }})</small></h2>
    <a href="{{ site.url }}{{ page.url }}" alt="{{ page.name }}'s WebSite" class="show-for-sr" itemprop="url">{{ site.url }}{{ page.url }}</a>
    <small itemprop="title">{{ page.subtitle }}</small>
    <p class="lead">{{ page.text }}</p>
    <div class="networks">
      {% for network in page.networks %}
      {% capture icon_name %}social-{{ network[0] }}{% endcapture %}
      <a href="{{ network[1] }}" class="network {{ network[0] }}">{% include icon.html icon=icon_name %}</a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="headline">
  {{ content }}
</div>
{% for project in page.portfolio %}
<div class="project">
  <div class="project-content project-text">
    <div class="project-article">
      <h3><a href="{{ project.link }}">{{ project.title }}</a></h3>
      <p>{{ project.description | markdownify }}</p>
      <cite><time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date_to_long_string }}</time></cite>
    </div>
  </div>
  <div class="project-content project-image">
    <a href="{{ project.link }}"><img src="{{ site.assetsurl }}/img/projects/{{ project.title | slugify }}.png" alt="{{ project.title }}"></a>
  </div>
</div>
{% endfor %}
