---
layout: page
---
{% capture words %}
  {{ content | number_of_words | minus: 180 }}
{% endcapture %}
<article role="article" itemscope itemtype="http://schema.org/Article">
  <h1 class="page-title" itemprop="name">{{ page.title }}</h1>
  <p>
    <span itemprop="author">{{ site.author.name }}</span> on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> &middot;
    {% unless words contains "-" %}
    <span itemprop="wordCount">{{ words | plus: 180 | divided_by: 180 | append: " minutes to read" }}</span>
    {% endunless %}{{ content | number_of_words }}
  </p>
  {{ content }}
</article>
{% include disqus.html disqus_identifier=page.disqus_identifier %}
<div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
  <a href="#top" class="btn-floating btn-large">
    <i class="large mdi-editor-mode-edit">i</i>
  </a>
</div>
{% include aside.html %}
