//
// FONTS
//

@each $font-face in $font-faces {
  @font-face {
    font-family: $font-face;
    font-style: normal;
    font-weight: normal;
    src: url('#{$font-path}/#{$font-face}.eot');
    src: url('#{$font-path}/#{$font-face}.eot?') format('eot'),
         url('#{$font-path}/#{$font-face}.woff') format('woff'),
         url('#{$font-path}/#{$font-face}.ttf') format('truetype'),
         url('#{$font-path}/#{$font-face}.svg##{$font-face}') format('svg');
  }
}
