//
// MIXINS
//

// Hyphenation
// http://caniuse.com/#feat=css-hyphens
@mixin hyphens($value) {
  -webkit-hyphens: $value;
  -moz-hyphens: $value;
  hyphens: $value;
}

// OpenType Features
// http://caniuse.com/#feat=font-feature
@mixin font-feature-settings($values...) {
  -webkit-font-feature-settings: $values;
  -moz-font-feature-settings: $values;
  font-feature-settings: $values;
}

@mixin white-space($value) {
  white-space: -moz-$value;
  white-space: -o-$value;
  white-space: -$value;
  white-space: $value;
}

@mixin quotemarks($mark-before, $mark-after) {
  &:before {
    content: $mark-before;
  }
  &:after {
    content: $mark-after;
  }
}

@mixin type-list($padd-left: 0) {
  padding-left: $padd-left;
  list-style-position: outside;
}
